version: '3.8'
services:
  backend:
    image: matheshwarsr/backend:latest
    ports:
      - "5000:5000"
    environment:
      - NODE_ENV=production
    networks:
      - sample_app-network

  frontend:
    image: matheshwarsr/frontend:latest
    ports:
      - "3000:3000"
    networks:
      - sample_app-network

  nginx:
    image: nginx:latest
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
    ports:
      - "80:80"
    restart: always
    networks:
      - sample_app-network

networks:
  sample_app-network:
    driver: bridge
    name: sample_app-network