name: CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  Build-Stage:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Login to Docker Hub
      run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

    - name: Build and Push Frontend
      run: |
        docker build -t ${{ secrets.DOCKER_USERNAME }}/frontend:latest ./frontend
        docker push ${{ secrets.DOCKER_USERNAME }}/frontend:latest

    - name: Build and Push Backend
      run: |
        docker build -t ${{ secrets.DOCKER_USERNAME }}/backend:latest ./backend
        docker push ${{ secrets.DOCKER_USERNAME }}/backend:latest
  
  Copy-To-EC2:
    runs-on: ubuntu-latest
    needs: Build-Stage
    steps:
    - name: Checkout code
      uses: actions/checkout@v3  
    - name: Copy files to EC2
      env:
        SSH_PRIVATE_KEY: ${{ secrets.EC2_SSH_KEY }}
        EC2_HOST: ${{ secrets.EC2_HOST }}
      run: |
        echo "$SSH_PRIVATE_KEY" > private_key.pem
        chmod 600 private_key.pem
        ssh -o StrictHostKeyChecking=no -i private_key.pem ubuntu@$EC2_HOST << 'EOF'
          if [ -d "/home/ubuntu/app" ]; then
            rm -rf /home/ubuntu/app
          fi
        EOF
        scp -o StrictHostKeyChecking=no -i private_key.pem -r ./* ubuntu@$EC2_HOST:/home/ubuntu/app
        rm private_key.pem

  deploy:
    name: Deploy to EC2
    runs-on: ubuntu-latest
    needs: Copy-To-EC2

    steps:
    - name: Executing remote SSH commands on EC2
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USER }}
        key: ${{ secrets.EC2_SSH_KEY }}
        envs: DOCKER_USERNAME, DOCKER_PASSWORD
        script: |
          # Install Docker if not installed
          if ! command -v docker &> /dev/null; then
            curl -fsSL https://get.docker.com -o get-docker.sh
            sudo sh get-docker.sh
          fi


          # Install Docker Compose if not installed
          if ! command -v docker-compose &> /dev/null; then
            sudo apt-get update -y
            sudo apt-get install -y docker-compose
          fi

          #docker network create app-network || tru

          # Navigate to the deployment directory
          cd /home/ubuntu/app

          

          # Login to Docker Hub
          echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
  
          # Pull the latest Docker images and restart services
          docker-compose pull
          docker-compose down -v --remove-orphans
          docker-compose up -d --build
